{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'styles/output.css' %}">
        {% block head %}
                
    
        {% endblock %}
        
    </head>

    <body class="bg-slate-50">
        <div class="p-2 md:p-3 flex justify-between items-center space-y-3 border-b"> 
            <div class="">
                <span class="flex items-center ">
                    <a class="font-bold p-2" href="/">
                        <img src="{% static 'images/arrow-circle-left-black.svg' %}" alt="go back" class="w-7 h-7 hover:animate-swivvle" >
                    </a>
                    <h1 class="text-5xl text-purple-600 font-bold ">
                        <a href="/notes">Notes</a>
                    </h1>
                </span>
                

                <p> How I deal with my wandering thoughts</p>
            </div>

            <a href="{% url 'notes:write-note' %}" class="text-white relative bg-purple-600 p-2 rounded-md">
                 Write

            </a>
        </div>
    
        <div class="w-full space-y-1 py-2 md:py-4">
    
            <span class="w-full flex justify-center text-sm">
                <form class="w-4/5 md:w-1/2 relative border bg-white rounded p-1" method="GET" action="{% url 'notes:search' %}">
                    <input class="p-1 w-full border border-white rounded focus:border-purple-200  focus:ring-0 focus:outline-none" type="text" placeholder="Search notes and idea tags" name="query">
                    <input type="submit" value="Search" class="absolute right-1 top-1 bg-purple-700 p-1 text-white rounded border border-purple-500 hover:text-white hover:bg-purple-700">
                </form>
                
            </span>

        </div>

        <div class=" p-3 md:px-20">    
            {% block outlet %}
                
    
            {% endblock %}
        </div>

        
    </body>
</html>