{% extends 'notes/base.html' %}


{% block head %}
    <meta description="{{idea.name}}" />
    <meta description="{{idea.description}}" />
    <title> Tag: {{idea.name}} </title>     
{% endblock %}



{% block outlet %}
<div id="notes-container" class="space-y-2 p-2 md:p-4">

    <h1 class="text-2xl md:text-3xl font-bold">
        {{idea.name}} ({{idea_notes_count}})
    </h1>
    <p class="text-sm md:text-md">
        {{idea.description}}
    </p>
    {% for note in idea_notes %}

    <div class="p-2 bg-opacity-30 animate-slideBtT bg-white border border-purple-100 rounded-md hover:scale-[101%] transition duration-300 shadow-sm shadow-purple-200">
        <div class="">
            <div class="w-full flex justify-between items-center">
                <a href="{% url 'notes:note' note.slug %} " >
                    <h1 class="font-bold text-gray-900 capitalize text-xl">
                        {{note.title}}
                    </h1>
                </a>
                <a href="{% url 'notes:network' note.privacy_level.name %} " >
                    <h1 class="font-bold text-purple-600 capitalize text-xs">
                        {{note.privacy_level.level}}.{{note.privacy_level.name}}
                    </h1>
                </a>
                
            </div>
            
            
            <p class="line-clamp-3 text-pretty text-sm md:text-md">
                {{note.text}}
            </p>

            <span class="w-full flex justify-between items-center">
                <p class="">
                    {% for tag in note.tags.values %}
                        <span 
                            class="mx-1 rounded-full bg-purple-200 text-xs p-[2px] text-gray-600">
                            {{tag.name}}
                        </span>
                    {% endfor %}
                </p>
                <p class="text-xs underline">
                    {{ note.written_at}}
                </p>
            </span>
            

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}



