{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'styles/output.css' %}">
    </head>

    <body class="bg-slate-50">
        <div class="p-2 md:p-4 flex justify-between items-center space-y-3 border-b"> 
            <div class="">
                <h1 class="text-5xl text-purple-600 font-bold ">
                    <a href="/">Notes</a>
                </h1>

                <p> How I deal with my wandering thoughts</p>
            </div>

            <button class="text-white bg-purple-600 p-2 rounded-md">
                <a href="{% url 'notes:write-note' %}"> Write</a>
            </button>
        </div>
    
        <div class="w-full ">
            <!-- <div 
                id="date-selector" 
                class=" text-gray-700 flex justify-center items-center space-x-1 md:space-x-5  p-1">
                
                    {% for day in week %}
                        <button class="text-xs md:text-sm lg:text-md border p-1 md:p-2 hover:font-bold focus:bg-purple-100 focus:font-bold rounded-md transition-colors ease-in-out ">
                            <a 
                                href="{% url 'notes:notes-by-date' day %}" 
                                class="transition-colors ease-in-out ">  
                                
                                {{day}} 
                            </a>
                        </button>
                    {% endfor %}
            </div> -->

            <div class=" flex flex-col space-y-1 items-center p-2">
                <div 
                    id="tag-selector" 
                    class="text-gray-700 flex justify-center items-center space-x-1 md:space-x-5  p-1">        
                        
                        {% for tag in tags %}
                            <a 
                                href="{% url 'notes:notes-by-idea' tag.slug %}" 
                                class="text-xs md:text-sm lg:text-md border p-1 md:p-2 hover:font-bold focus:bg-purple-100 focus:font-bold rounded-md transition-colors ease-in-out ">  
                                
                                {{tag.name}} 
                            </a>
                            
                        {% endfor %}
                
                </div>
                
                <span class="text-sm">
                    <form method="POST" action="{% url 'notes:new-idea' %}">
                        {% csrf_token %}
                        <input class="p-1 focus:border rounded focus:border-purple-500  focus:ring-0 focus:outline-none" type="text" placeholder="New Idea Tag?" name="idea_name">
                        <input type="submit" value="Save Idea" class="bg-white p-1 text-gray-600 rounded border border-purple-500 hover:text-white hover:bg-purple-700">
                    </form>
                    
                </span>
                
            </div>

    
    
    
            <div class="border p-3 md:px-20">    
                {% block notes %}
                    
        
                {% endblock %}
            </div>
        

        </div>


        
    </body>
</html>