{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles/output.css' %}">
    </head>

    <body class="">
        <div class="p-2 md:p-4 space-y-3 border-b bg-slate-50"> 
            <h1 class="text-5xl text-purple-600 font-bold">
                <a href="/notes">Notes</a>
            </h1>

            <p> How I deal with my wandering thoughts</p>
        </div>
    
        <div id="notes-canvas" class="space-y-2 p-2 md:p-4 bg-slate-50 h-screen ">

            <div class="flex flex-col items-center justify-center">

                <h1 class="text-2xl font-medium">
                    Write Note
                </h1>
                <p class="">
                    What's on your mind
                </p>
            </div>

            <form class="text-gray-800" action="{% url 'notes:write-note' %}" method="POST">
                {% csrf_token %}
                
                
                {% for field in form %}
                    <div class="flex flex-col items-start justify-center">
                        {{ field.label }}    
                        {{ field }}
                    </div>
                    
                {% endfor %}


                <input type="submit" class="w-1/2  hover:bg-purple-700 bg-purple-600 p-1 text-white cursor-pointer rounded" value="Post">
            </form>
        
        </div>



        
    </body>
</html>



