{% extends 'main/base.html' %}

{% block head %}
    <title> Sign In</title>
{% endblock %}



{% block message %}
    
{% endblock %}


{% block body %}
    <div class="w-full h-screen space-y-2 flex flex-col text-white bg-gray-950 w-full flex justify-center items-center">
        <div class="w-1/2 mb-5 text-5xl text-purple-600 flex items-center justify-center font-bold px-5">
            Sign In!
        </div>

        <div class="">
            <div class="">
                {% if message %}
                    <div class="w-full py-5 text-white font-bold animate-pulse border-2 border-red-600 flex justify-center items-center"> 
                        {{ message }}
                    </div>
                {% endif %}

                {% if error %}
                    <div class="w-full py-2 text-red-500 font-bold animate-pulse border-2 border-red-600 flex justify-center items-center"> 
                        {{ error }}
                    </div>
                {% endif %}
            </div>
            

            <form action="{% url 'main:sign-in' %}" method="post" class="w-full flex flex-col items-center">
                    {% csrf_token %}
                    
                    <div class="w-full">
                        <label class=""> Email</label>
                        <input type="text" name="email" class="rounded p-2 text-gray-900 w-full "  placeholder="Email">  </input>
                    </div>
                    <div class="w-full">
                        <label class=""> Password </label>
                        <input type="password" name="password" class="rounded p-2 text-gray-900 w-full "  placeholder="Password"> </input>
                    </div>
                    <input 
                        type="submit"  
                        class="rounded-md  cursor-pointer hover:bg-purple-700 hover:bg-purple-600 flex justify-center items-center bg-purple-600 my-4 p-2 w-full" 
                        value="Sign In"
                    >
            </form>

            <a href="{% url 'main:sign-up' %}" class="w-full flex text-sm hover:font-medium hover:text-md underline justify-center"> Sign Up </span>

        
        </div>

        
    </div>
{% endblock %}
