{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles/output.css' %}">
    </head>

    <title>
        DemoCraty: {{ election.name }}
    </title>

    <body class="p-8 md:p-20 flex justify-center items-center  w-full h-screen">

        <div class="w-full h-full flex flex-col bg-purple-100 items-ceter border p-4 rounded-md md:rounded-lg ">
                
            <h1 class="text-3xl md:text-5xl font-bold p-4 w-full flex justify-center">
                {{ election.name }}
            </h1>
            
            
            <ul class="flex flex-col justify-start">
                <li>{{ election.date }}</li>
                <li>{{ election.parties.count }} parties have registered for this election</li>
                <li>
                    <p> Number of registered voters {{ election.registered_voters.count }}</p> 
                    
                </li>
            </ul>


            <p class="">
                Voting will commence in {{ time_diff }} days.
            </p>



            {% if not voter %}
                <a href="/" class="text-red-500 ">{{ message }}</a>
            {% endif %}

            {% if voted == True %}
                <a href="/" class="text-blue-500" > You have voted in this election </a>
            {% else %}

            {% endif %}


            {% if user_is_registered == False  and not voted %}
                <a href="/" class="text-red-500 ">You haven't registered for this election</a>
            {% endif %}




            
            {% if not voted and user_is_registered %}
            <div class="w-full bg-white border"></div>
                <form action="{% url 'stories:vote' election.id %}" class="w-full flex flex-col" method="post">
                    {% csrf_token %}

                    {% for party in election.parties.all %}
                        <span class="flex justify-center items-center space-x-3">
                            <label class="">
                                {{party.name}}
                            </label>

                            <input type="radio" name="party_choice" value="{{ party.id }}" />
                        </span>
                    {% endfor %}
                    <input type="submit" class="p-2 hover:bg-purple-800 text-white font-medium bg-purple-700 border rounded-md" value="Vote"/>

                </form>
            </div>
            {% endif %}
            

  
            
            


        </div>
    
    </body>



</html>