{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'styles/output.css' %}">
        {% block head %}
                
    
        {% endblock %}
        
    </head>

        <body class="bg-slate-50 w-full">
            <div class="p-2 md:p-3 w-full flex justify-between items-center space-y-3 border-b"> 
                <div class="w-full space-x-2 flex flex-col justify-start">
                    <span class="flex items-center">
                        <a class="font-bold " href="/">
                            <img src="{% static 'images/arrow-circle-left-black.svg' %}" alt="go back" class="w-7 h-7 hover:animate-swivvle" >
                        </a>
                        <div class="">   
                            <h1 ><a href="{% url 'stories:stories_index' %}" class="text-3xl text-purple-600 font-bold ">Developer Stories</a> </h1>
                            <p class="text-sm md:text-md">BTS of our products</p>
                        </div> 
                    </span>
                    

                    
                </div>



                
            </div>


        <div class=" p-3 md:px-20">    
            {% block stories %}
                
    
            {% endblock %}
        </div>

        
    </body>
</html>






